# https://github.com/rustwasm/wasm-pack-template/issues/53
# library crate often ignores Cargo.lock, but this library doesn't
/target
**/*.rs.bk
bin/
cjs/*
!cjs/package.json
esm/*
!esm/package.json
wasm-pack.log
